.app{
  text-align: center;
}
.menu{
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: pink;
}

.links{
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 20%;
  padding: 2px;
}